[Unit]
Description=Airflow API Server
After=network.target

[Service]
User=ddi
Group=ddi
Environment="AIRFLOW_HOME=/home/ddi/airflow"
Environment="PATH=/home/ddi/.local/bin:/usr/bin:/bin"
ExecStart=/home/ddi/.local/bin/airflow api-server -p 8080
Restart=always
RestartSec=5
Type=simple

[Install]
WantedBy=multi-user.target
